@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

$button-color: #66bb6a;

header {
  background-image: url("./assets/Banner.png");
  background-size: cover;
  background-position: center;
  height: 80vh;
  color: white;
}

.box-header {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  padding: 110px 40px 40px 40px;

  display: inline-block;
  text-align: center;

  height: inherit;

  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 1.1rem;
    width: 50vw;
    margin: 0 auto;

    margin-bottom: 25px;
  }

  button {
    background-color: $button-color;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 30px;

    cursor: pointer;
    font-weight: bold;
  }
}

.box-cards {
  background-color: #f1f8e9;

  padding: 50px 20px;
  text-align: center;
}

article {
  width: 250px;
  height: 400px;
  // border: solid 2px red;

  border-radius: 12px;

  display: inline-block;
  margin: 20px;

  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.4);

  img {
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-size: cover;
  }

  button {
    background-color: $button-color;
    border: none;
    border-radius: 30px;
    padding: 13px 33px;

    cursor: pointer;
    color: white;

    font-weight: bold;
  }

  h3,
  p,
  button {
    margin: 20px;
  }
}
